@using PortfolioShared.Models

<div class="card h-100 shadow-sm">
    <div class="card-body">
        <h4 class="card-title">@Project.Title</h4>
        <p class="card-text">@Project.Description</p>
        <p class="card-text"><strong>Developed Date:</strong> @Project.StartDate.ToShortDateString()</p>
        <p class="card-text"><strong>Technologies:</strong> @string.Join(", ", Project.Technologies)</p>
        @if (!string.IsNullOrEmpty(Project.GitHubProjectTitle))
        {
            <p class="card-text"><strong>GitHub Project:</strong> @Project.GitHubProjectTitle</p>
            <p class="card-text"><strong>Status:</strong> @Project.GitHubProjectColumn</p>
        }
        @if (!string.IsNullOrEmpty(Project.GitHubUrl))
        {
            <a href="@Project.GitHubUrl" class="btn btn-primary" target="_blank">View on GitHub</a>
        }
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; } = null!;
}
